@font-face {
    font-family: PFAgoraSansPro-XThin_35315;
    src: url(../fonts/PFAgoraSansPro-XThin_35315.ttf);

}

@font-face {
    font-family: PFAgoraSansPro-Light_35306;
    src: url(../fonts/PFAgoraSansPro-Light_35306.ttf);

}

@font-face {
    font-family:PFAgoraSansPro-Thin_35311;
    src: url(../fonts/PFAgoraSansPro-Thin_35311.ttf);

}


body{

    margin: 0px;
    font-family: arial;
}

.container{
	width: 1079px;
	margin: 0 auto;

}

.header{
	display: inline-block;
	width: 100%;
}

.leftPart{
	float: left;
	width: 283px;
	margin-top: 30px;
}
.dropdown{
	display: inline-block;
	position: relative;
	margin-left: 25px;
	    padding: 2px;
    
}

.dropdown-content{
	display: none;
	position: absolute;
    background-color: #f9f9f9;
    z-index: 1;
    left: -21px;
    top: 23px;
}

.dropdown-content a {
	display: inline-block;
	width: 100%;
    color: black;
    padding: 12px 0px;
    text-decoration: none;
   
}



.dropdown-content a:hover {background-color: #ffd200}

.dropdown:hover .dropdown-content {
	
    display: inline-block;
    text-align: center;
    width: 89px;
   
}

.logo{
	float: right;
}

.logo img{
	float: right;
}

.rightPart{
	float: right;
	width: 301px;
	margin-right: 159px;
}

.telephoneNo{
	float: left;
	margin-top: 22px;
	padding: 11px 21px 9px 36px;
	background-color: #ffd200;
	border-radius: 10px;
	margin-bottom: 18px;
}

.telephoneNo p{
	float: left;
	margin: 0;
	border-bottom: 2px dotted black;
	padding-right: 11px;
}

.backPage{
	float: right;
	margin-top: 25px;
}
.backPage a{
	float: right;
}

.mainPage{
	float: left;
	background-image: url(../img/BGmainPage.png);
	text-align: center;
	width: 100%;
	padding-top: 56px;
	    padding-bottom: 240px;
}

.mainPage h6{
	display: inline-block;
	width: 100%;
	margin:0;
	font-family: "PFAgoraSansPro-XThin_35315";
	font-size: 60px;
	font-weight: normal;
	padding-bottom: 32px;
}

.mainPage p{
	display: inline-block;
	width: 100%;
	margin:0;
	font-family: "PFAgoraSansPro-Light_35306.ttf";
	font-size: 24px;
	padding-bottom: 70px;
}

.linkPhotobook{
	display: inline-block;
	padding: 10px 30px;
	border:1px solid black;
	border-radius: 10px;

}

.linkPhotobook a{
	display: inline-block;
	text-decoration: none;
	    font-size: 26px;
	color: black;

}

.step{
	float: left;
	width: 100%;
	text-align: center;
	padding-top: 55px;
	padding-bottom: 95px;
}

.circleimgInfo{
	display: inline-block;
	width: 139px;
	vertical-align: top;

}

.dashedLines{
	display: inline-block;
}

.dashedLines img{
	display: inline-block;
}

.circleimg{
	display: inline-block;
	padding-right: 10px;
    width: 100%;
	
}

.readySolutions{
	margin: 0;
	float: left;
	background-image:none;
}

.newCI{
	background-image: none;
}

.circleimg a{
	display: inline-block;
	border: 3px solid #ffd200;
	border-radius: 60px;
    padding: 10px;

}

.circleimg a img{
	display: inline-block;
	padding: 20px 17px;

}

.stepInfo{
	display:inline-block ;
	text-align: center;
}

.stepInfo p{
	display: inline-block;
	margin: 0;
	font-size: 24px;
	font-family: "PFAgoraSansPro-Light_35306.ttf";
}

.advantange{
	float: left;
	background-image: url(../img/BGadvantage.png);
	text-align: center;
	padding-bottom: 76px;
	background-size: cover;

}
.social{
	display: inline-block;
	width: 31.333%;
	font-family: "PFAgoraSansPro-Light_35306.ttf";
	padding-bottom: 47px;
	vertical-align: top;

}
.social img{
	display: inline-block;
	margin-bottom: 27px;
}
.socialInfo{
	display: inline-block;
	text-align: center;
}

.socialInfo p{
	display: inline-block;
	margin: 0;
	padding:0;
}

.bigText{
   font-size: 24px !important;
   margin-bottom: 30px !important;
}

.smallText{
	font-size: 16px !important;
}

.newLP{
	background-color: #e11a27;
	border:none;
}

.newLP a{
		color: white;
}

.bodyReadySolutions{
	float: left;
	text-align: center;
	width: 100%;
}
.lightBook{
	display: inline-block;
	width: 310px;
	border:2px solid #ffd200;
	border-radius: 10px;
	margin: 0 21px;
}
.address{
	display: inline-block;
	width: 100%;
	background-color: #ffd200;

}

.address p{
	display: inline-block;
	margin: 0;
	padding: 36px 0;
	font-size: 36px;
	font-family:PFAgoraSansPro-Thin_35311;

}
.bodyLightBook{
	display: inline-block;
	text-align: left;
	padding-top: 22px;
	padding-bottom: 80px;
	padding-left: 20px;	
}

.bodyLightBook p{
	display: inline-block;
	width: calc(100% - 35px);
	margin: 0;
	padding:0;
	background-image: url(../img/check.png);
	background-repeat: no-repeat;
	    background-position: left center;
    padding-left: 30px;
	
}

.newBG{
	display: inline-block;
	background-image: url(../img/check.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.dollar{
	display: inline-block;
	width: 100%;
	text-align: center;
	background-image: url(../img/dollar.png);
	background-repeat: no-repeat;
	background-position: 85px center;
	


}

.dollar h5{
	display: inline-block;
	font-family: "PFAgoraSansPro-Light_35306.ttf";
	font-size: 60px;
	font-weight: normal;
	margin: 0;
}

.mainbody{
	display: inline-block;
}

.footerBodySOL{
	display: inline-block;
	width: 100%;
	background-color: #ffd200;

}

.footerBodySOL p{
	display: inline-block;
	margin:0;
	padding: 12px 53px 15px 53px;
	width: calc(100% - 2*53px);
	font-family:PFAgoraSansPro-Thin_35311;
	font-size: 21.67px;
}


